[submodule "Tefnout/vendors/glm"]
	path = Tefnout/vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "Tefnout/vendors/spdlog"]
	path = Tefnout/vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Tefnout/vendors/glfw"]
	path = Tefnout/vendors/glfw
	url = https://github.com/glfw/glfw.git
